<!DOCTYPE html>
<html>
  <head>
    <title>Cup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header  class="header">
      <div class="header_logo" >
        <h1><a>CUP</a>         
          <% if user_signed_in? %>
            <div class="header_manu">
              <ul class="main-manu">
              <%= link_to "マイページ","/users/#{current_user.id}" %>
              <%= link_to "ログアウトする", destroy_user_session_path, method: :delete %>
              <%= link_to "投稿する", "/tweets/new" %>
             </ul>
            </div>
          <% else %>
            <div class="header_manu">
             <ul class="main-manu">
          
              <%= link_to "ログイン", new_user_session_path %>
              <%= link_to "新規登録", new_user_registration_path %>
            
             </ul>
            </div>
          <% end %>
          </h1>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
